*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}
a{
    text-decoration: none;
}
h2, h3, h4{
    font-family: 'Volkhov', serif;
}
        /* HEADER */
 .header{
    position: fixed;
    width: 100%;
    z-index: 10;
}        
 .header__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .header__row .logo{
    position: relative;
    margin: 20px 0;
 }
 .header__row .logo i{
    position: absolute;
    top: -5px;
    right: 90px;
    font-size: 20px;
    color: #fb811e;
    transition: all .5s;
 }
 .header__row .logo:hover i{
    color: black;
 }
 .header__row .logo a{
    font-size: 32px;
    color:#fb811e;
    font-family: 'Volkhov', serif;
    transition: all .5s;
 }
 .header__row .logo:hover a{
    color: black;
 }
 .navbar form{
    display: inline-block;
 }
.header__row .navbar a{
    color: black;
    font-size: 18px;
    margin-right: 15px;
    transition: all .5s;
}
.header__row .navbar .active{
    color: #fb811e;
}
.header__row .navbar a:hover{
    color: #fb811e;
}
.header form input{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
    background-image: url(../image/search.png);
    background-repeat: no-repeat;
    background-position:9px center ;
    transition: all .5s;
    margin-right: 10px;
    border: none;
}
.header form input:hover{
    background-color: #fb811e;
}
.header form input:focus{
    width: 200px;
    border-radius: 20px;
    padding-left: 30px;
    background-color: #fb811e;
}
.header form .moon{
    transform: rotate(-30deg);
    font-size: 20px;
    transition: all .5s;
}
.header form .moon:hover{
    color: #fb811e;
}
.header form .bars{
    font-size: 20px;
    display: none;
}
/* LINKED */
.linked__row{
    display: flex;
    position: relative;
}
.linked__left{
    width: 40%;
    position: absolute;
    top:150px;
    left: 185px;
}
.linked__left h3{
    font-size: 24px;
    margin-bottom: 8px;
}
.linked__left a{
    color:#707070;
    font-weight: bold;
    transition: all .5s;
}
.linked__left a:hover{
    color: #fb811e;
}
.linked__left i{
    font-size: 8px;
    display: inline-block;
    color: #707070;
    margin: 0 5px;
}
.linked__left span{
    color: #707070;
}
.linked__right{
    height: 300px;
    width: 55%;
    margin-left: auto;
    background-image: url(../image/b4.jpg);
    background-size: cover;
    background-position: bottom;
    border-radius:0 0 0 10px;
}
.linked__right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* CONTACT */
.contact{
    padding: 100px 0;
}
.contact__row, .contact__item{
    display: flex;
}
.contact__row{
    margin: 0 85px;
}
.contact__left{
    width: 40%;
}
.contact__right{
    width: 60%;
}
.contact__left h3{
    font-size: 22px;
    color: #fb811e;
    margin: 0;
}
.contact__left h2{
    font-size: 40px;
    margin-bottom: 24px;
}
.contact__item{
    margin-bottom: 30px;
}
.contact__icon{
    width: 7%;
}
.contact__icon i{
    color: #fb811e;
}
.contact__text h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
.contact__text p{
    font-size: 17px;
    color: #707070;
    margin: 0;
}
.contact__text a{
    font-size: 17px;
    color: #707070;
    transition: all .5s;
}
.contact__text a:hover{
    color: #fb811e;
}
.contact__right input, .contact__right textarea{
    width: 100%;
    background: white;
    font-size: 15px;
    padding: 14px;
    border: 1px solid #eee;
    outline: none;
    margin-bottom: 16px;
    border-radius: 3px;
}
.contact__right input:focus, .contact__right textarea:focus{
    border-color: #fb811e;
}
.contact__right button{
    color: white;
    background-color: #fb811e;
    padding: 12px 30px;
    border-radius: 30px;
    line-height: 26px;
    display: inline-block;
    margin-top: 1px;
    transition: all .5s;
    border: none;
}
.contact__right button:hover{
    background-color: #009f4d;
}
/* POSITION */
.position .map{
    width: 100%;
}
/* FOOTER */
.footer{
    padding: 100px 0;
}
.footer__row{
    display: flex;
}
.footer__item{
    padding: 0 15px 0 48px;
}
.footer__item h3{
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 600;
}
.footer__item p{
    font-size: 17px;
    color: #707070;
}
.footer__item .a1{
    color: #707070;
    transition: all .5s;
}
.footer__item .a1:hover{
    color: #fb811e;
}
.logoChild{
    padding-bottom: 8px;
} 
.footer__row .a2{
    position: relative;
 }
 .footer__row .logoChild i{
    position: absolute;
    top: -5px;
    left:55px;
    font-size: 20px;
    color: #fb811e;
    transition: all .5s;
 }
 .footer__row .logoChild:hover i{
    color: black;
 }
 .footer__row .logoChild a{
    font-size: 32px;
    color:#fb811e;
    font-family: 'Volkhov', serif;
    transition: all .5s;
 }
 .footer__row .logoChild:hover a{
    color: black;
 }
 .footer__item .coppy{
    margin-top: 50px;
 }
 .footer__item .coppy a{
    color: #009f4d;
    transition: all .5s;
 }
 .footer__item .coppy a:hover{
    color: #fb811e;
 }
 .item3{
    padding: 0 10px;
 }
 .item3 form{
    display: flex;
 }
 .item3 input{
    background-color: #f4f4f4;
    color: #707070;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 80%;
    color: var(--font-color);
    border: 1px solid var(--border-color-light);
    border-radius: 30px 0px 0px 30px;
 }
 .item3 button{
    width: 20%;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 12px 12px;
    background-color: #009f4d;
    color: #fff;
    border-radius: 0px 30px 30px 0px;
    transition: all .5s;
 }
 .item3 button:hover{
    opacity: .8;
 }
 .social{
    margin-top: 20px;
 }
 .social a{
    width: 35px;
    height: 35px;
    background: rgb(10 191 83 / 8%);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    color: #009f4d;
    line-height: 35px;
    transition: all .5s;
    margin-right: 5px;
 }
 .social a:hover{
    background: rgb(255 201 69 / 19%);
    box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
    color: #fb811e;
 }
/* BACK TO TOP */
.backToTop{
    visibility: hidden;
    opacity: 0;
 }
.backToTop i{
    background-color: #009f4d;
    padding: 12px 15px;
    border-radius: 5px;
    color: white;
    display: block;
    transition: all .5s;
    position: fixed;
    bottom: 100px;
    right: 15px;
    z-index: 5;
}
.backToTop:hover{
    opacity: .8;
}
.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

/*--------------- RESPONSIVE -----------------*/
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
  .container {
    padding: 0 80px;
  }
  .navbar a {
    display: none;
  }
  .navbar form .bars,
  .navbar form .moon {
    display: inline-block;
  }
  .navbar form .moon {
    transform: rotate(-15deg);
    color: black;
  }
  .linked__left{
    left: 100px;
  }
  .contact__row{
    margin: 0;
  }
  .contact__left, .contact__right{
    padding: 0 10px;
  }
  .contact__icon{
    margin-right: 10px;
  }
  .footer__row {
    flex-wrap: wrap;
    
  }
  .footer__row .farmstead {
    order: 3;
  }
  .footer__item {
    width: 100%;
    margin-bottom: 50px;
    padding: 0;
  }
  .footer__row .item3 {
    order: 2;
    width: 60%;
  }
  .footer__item .coppy {
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
  .header__row {
    display:block;
  }
  .header__row .logo i {
    top: -5px;
    left: 55px;
  }
  .header__row .logo a{
    font-size: 30px;
  }
  .navbar {
    margin-left: 0px;
  }
  .linked__left {
    left: 15px;
  }
  .container {
    padding: 0 15px;
  }
  .contact__row{
    display: block;
  }
  .contact__left, .contact__right{
    width: 100%;
  }
  .footer__row .item3{
    width: 100%;
  }

}

