*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}
a{
    text-decoration: none;
}
h2, h3, h4{
    font-family: 'Volkhov', serif;
}
        /* HEADER */
.header{
    position: fixed;
    width: 100%;
    z-index: 10;
}        
 .header__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .header__row .logo{
    position: relative;
    margin: 20px 0;  
 }
 .header__row .logo i{
    position: absolute;
    top: -5px;
    right: 90px;
    font-size: 20px;
    color: #fb811e;
    transition: all .5s;
 }
 .header__row .logo:hover i{
    color: black;
 }
 .header__row .logo a{
    font-size: 32px;
    color:#fb811e;
    font-family: 'Volkhov', serif;
    transition: all .5s;
 }
 .header__row .logo:hover a{
    color: black;
 }
 .navbar form{
    display: inline-block;
 }
.header__row .navbar a{
    color: green;
    font-size: 18px;
    margin-right: 15px;
    transition: all .5s;
}
.header__row .navbar .active{
    color: #fb811e;
}
.header__row .navbar a:hover{
    color: #fb811e;
}
.header form input{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
    background-image: url(../image/search.png);
    background-repeat: no-repeat;
    background-position: 10px center ;
    transition: all .5s;
    margin-right: 10px;
    border: none;
}
.header form input:hover{
    background-color: #fb811e;
}
.header form input:focus{
    width: 200px;
    border-radius: 20px;
    padding-left: 30px;
    background-color: #fb811e;
    inset: none;
}
.header form .moon{
    transform: rotate(-30deg);
    font-size: 20px;
    margin-right: 10px;
    transition: all .5s;
    color: white;
}
.header form .moon:hover{
    color: #fb811e;
}
.header form .bars{
    font-size: 20px;
    display: none;
}
/* CAROUSEL */
.carousel__all{
    display: flex; 
    position: relative; 
    align-items: center;
}
.carousel__left{
    position: absolute;
    left: 160px ;
    padding-left: 15px;
    width: 40%;
    z-index: 5;
}
.carousel__left h2{
    font-size: 120px;
    font-weight: bold;
    color:#f4f4f4;
    margin-left: -60px;
}
.carousel__left h3{
    font-size: 50px;
    margin-bottom: 24px;
    margin-top: -70px;
    font-weight: 700;
}
.carousel__left p{
    font-size: 20px;
    color: #707070;
}
.carousel__left a{
    background-color: #fb811e;
    color: white;
    display: inline-block;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    line-height: 26px;
    margin-top: 48px ;
    transition: all .5s;
}
.carousel__left a:hover{
    background-color: #009f4d;
}
.carousel__right{
    margin-left: auto;
    width: 60%;
}

.carousel__right .carousel-indicators button{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
    opacity: 1;
}
.carousel__right .carousel-indicators .active{
    background-color: #fb811e;
}
.carousel__right .carousel-inner{
    border-radius: 0 0 0 20px;
}
.carousel__right .carousel-inner img{
    width: 100%;
    object-fit: cover;
    filter: brightness(80%);
    height: 100vh;
}
.carousel__right .carousel-inner .carousel-item{
    position: relative;
}
.carousel__right .carousel-inner .carousel-item .note{
    position: absolute;
    bottom: 30px;
    right: 15px;
    color: white;
    text-align: center;
}
.carousel__right .carousel-inner .carousel-item .note p{
    font-size: 17px;
    margin: 0;
}
.carousel__right .carousel-inner .carousel-item .note h4{
    margin: 0;
    font-weight: 300;
}
.carousel__right .carousel-inner .carousel-item .note span{
    font-size: 26px;
    font-weight: 400;
}

/* NATURALLY */
.naturally{
    padding: 150px 0 100px 0;
}
.naturally__row{
    display: flex;
    align-items: center;
}
.naturally__content{
    width: 50%;
    padding-right: 50px;
}
.naturally__content h3{
    font-size: 22px;
    color: #fb811e;
}
.naturally__content h2{
    font-size: 40px;
    margin-bottom: 16px;
    font-weight: 700;
}
.naturally__content p{
    font-size: 17px;
    color: #707070;
}
.naturally__content a{
    color: white;
    background-color: #fb811e;
    padding: 12px 30px;
    border-radius: 30px;
    line-height: 26px;
    display: inline-block;
    margin-top: 48px;
    transition: all .5s;
}
.naturally__content a:hover{
    background-color: #009f4d;
}
.naturally__main{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 20px;
}
.naturally__item{
    padding: 40px 30px;
    border-radius: 30px;
    box-shadow: 0 2px 15px whitesmoke;
    transition: all .3s;
}
.naturally__item:hover{
    box-shadow: 0 2px 50px rgb(0 0 0 / 10%);
}
.naturally__item img{
    width: 65px;
    height: 65px;

}
.naturally__item a{
    display: block;
    font-family: 'Volkhov', serif ;
    font-size: 20px;
    margin-top: 25px;
    font-weight: bold;
    color: black;
    transition: all .5s;
}
.naturally__item a:hover{
    color: #009f4d;
}
/* SERVICES */
.services{
    background-color: #009f4d;
}
.services .container{
    padding: 100px 15px;
}
.services__content{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}
.services__content h2{
    position: absolute;
    top: -20%;
    right: 20%;
    font-size: 180px;
    font-weight: bold;
    color: white;
    z-index: 0;
    opacity: 0.14;
}
.services__col{
    width: 50%;
}
.services__col h4{
    font-size: 22px;
    margin-bottom: 10px;
    color: white;
}
.services__col h3{
    font-size: 40px;
    color: white;
    font-weight: bold;
}
.services__col p{
    font-size: 20px;
    color: white;
    font-weight: 300;
}
.services__main{
    margin-top: 50px;
    display: flex;
    margin: 0 -15px;
}
.services__item{
    margin: 0 15px;
}
.services__item img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.services__text{
    background-color: white;
    border-radius: 0 0 20px 20px;
    padding: 30px 20px;
}
.services__text h5{
    font-size: 16px;
    padding: 5px 20px;
    color: #009f4d;
    background-color: rgb(0 159 77 / 16%);
    display: inline-block;
    border-radius: 20px;
}
.services__text a{
    display: block;
    font-size: 24px;
    line-height: 30px;
    margin: 15px 0;
    color: black;
    font-weight: 600;
    transition: all .5s;
}
.services__text a:hover{
    color: #009f4d;
}
.services__text p{
    font-size: 17px;
    color: #707070;
}

/* REASON */
.reason{
    padding: 100px 0;
}
.reason__row{
    display: flex;
    align-items: center;
}
.reason__content{
    width: 50%;
}
.reason__content h4{
    font-size: 22px;
    color: #fb811e;
}
.reason__content h2{
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: black;
}
.reason__content p{
    font-size: 17px;
    margin-top: 16px;
    color: #707070;
}
.advantage{
    display: flex;
    margin-top: 80px ;
}
.advantage h3{
    font-size: 24px;
    color: #060606;
    margin-bottom: 10px;
    font-weight: 600;
}
.advantage i{
    color: #fb811e;
    font-size: 30px;
}
.advantage p{
    margin-left: 40px;
}
.reason__main{
    width: 50%;
    padding-left: 100px;
    position: relative;
}
.reason__main img{
    width: 100%;
    border-radius: 30px;
}
.reason__main .experience{
    position: absolute;
    bottom: 40px;
    left: 10px;
    text-align: center;
    padding: 40px 50px 40px 60px;
    background-color: #fb811e;
    border-radius: 0 0 100px 0;
}
.reason__main .experience h2{
    font-size: 70px;
    color: white;
    margin: 0;
}
.reason__main .experience p{
    font-size: 18px;
    color: white;
    font-weight: 600;
    margin: 0;
}

/* BLOG */
.blog__row, .blog__col{
    display: flex;
    flex-wrap: wrap;
}
.blog__col{
    padding: 32px 50px 32px 16px;
}
.blog__col:focus{
    border: 1px dotted black;
    border-radius: 20px;
}
.blog__img{
    width: 30%;
    padding-left: 20px;
}
.blog__col, .blog__img, .blog__txt{
    cursor: pointer;
}
.blog__child{
    width: 55px;
    height: 55px;
}
.blog__child img{
    width: 100%;
}
.blog__txt{
    width: 70%;
}
.blog__txt h3{
    font-size: 22px;
    color: #060606;
    transition: all .5s;
    font-weight: bold;
}
.blog__col:hover h3{
    color: #009f4d;
}
.blog__txt p{
    font-size: 17px;
    color: #707070;
    margin-top: 10px;
}
/* GALLERY */
.gallery{
    padding: 100px 0
}
.gallery__row{
    display: flex;
    flex-wrap: wrap;
}
.gallery__txt h3{
    color: #fb811e;
    font-size: 22px;
    margin: 0;
}
.gallery__txt h2{
    font-size: 40px;
    margin: 0;
    font-weight: 600;
}
.gallery__txt p{
    font-size: 17px;
    margin: 8px 0 0 0;
    color: #707070;
}
.gallery__txt a{
    color: white;
    background-color: #fb811e;
    padding: 12px 30px;
    border-radius: 30px;
    line-height: 26px;
    display: inline-block;
    margin-top: 24px;
    transition: all .5s;
}
.gallery__txt a:hover{
    background-color: #009f4d;
}
.gallery__item{
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.gallery__item::before{
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    transform: skewX(-17deg);
}
.gallery__item:hover::before{
    animation: gallery .95s;
}

.gallery__item img{
    width: 100%;
}
.gallery__item h3{
    margin: 0;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgb(255 255 255 / 27%);
    padding: 6px;
    margin: 20px;
    color: white;
    font-weight: 600;
}

@keyframes gallery{
    100%{
        left: 125%;
    }
}